.blackButton {
  &_firstKey {
    left: 7%;
  }
  &_secondKey {
    left: 17%;
  }
  &_thirdKey {
    left: 37%;
  }
  &_fourthKey {
    left: 47%;
  }
  &_fifthKey {
    left: 57%;
  }
  &_sixthKey {
    left: 77%;
  }
  &_seventhKey {
    left: 87%;
  }
}
