.pianoKey {
  float: left;
  width: 10%;
  z-index: 999;
  @apply bg-white border-2 border-black rounded-xl h-full;

  &__black {
    width: 6%;
    z-index: 1000;
    @apply bg-black text-white absolute z-10 rounded-xl h-1/4 md:h-2/4;
  }
}

.blackButton {
  &_firstKey {
    left: 7%;
  }
  &_secondKey {
    left: 17%;
  }
  &_thirdKey {
    left: 37%;
  }
  &_fourthKey {
    left: 47%;
  }
  &_fifthKey {
    left: 57%;
  }
  &_sixthKey {
    left: 77%;
  }
  &_seventhKey {
    left: 87%;
  }
}
